@font-face {
  font-family: "BMDOHYEON_ttf";
  src: url("./BMDOHYEON_ttf.ttf") format("truetype");
}

body {
  font-family: "BMDOHYEON_ttf";
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  background-color: #2ac1bc;
}

section {
  height: 100%;
}

.text-outer {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: middle;
  place-items: center;
  list-style: none;
  height: 100vh;
}

.scroll {
  font-size: 100px;
  font-weight: 800;
  margin: 10px;
}
